:root{
    --titulos: white;
    --subtitulos: white;
    --parrafos: white;
    --borde: 4px solid black;
}
h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    color: var(--titulos, white);
}

h2{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: black;
    color: var(--subtitulos, white);
}

p{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   border: var(--borde, white);
    color: white;
    color: var(--parrafos, white);
}